@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      font-family: "Inter", sans-serif;
      /* background-color: #111; */
      /* background-color: #181818; */
      background-color: white;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
   
  }
  @layer components {
    .first-grid{
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
    .second-grid{
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 10px;
    }
  }